.main {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 0.3fr;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #111111;
}
