.main {
  margin-top: 6.25em; /* 100px */
  width: 100%;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3.125em 0; /* 50px 0 */
}

.btn {
  background: none;
  cursor: pointer;
  font-size: 1.25em; /* 20px */
  border: none;
}

.calendar {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3125em; /* 5px */
  font-size: 1.875em; /* 30px */
  text-align: center;
}

.weekTitle {
  margin: 2.5em 0; /* 40px 0 */
  /* display: flex; */
}

.weekTitle:first-child {
  color: red;
}

.weekTitle:nth-child(7) {
  color: blue;
}

.day {
  margin: 1em;
}

.daySchedule {
  width: 100%;
  height: 0.625em; /* 10px */
}

.month {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em; /* 40px */
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  /** Mobile */
  .calendar {
    font-size: 1em;
  }
}
