.scheduleList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.25em 0; /* 20px 0 */
  width: 100%;
}

.scheduleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em; /* 20px */
  margin: 0.625em 0; /* 10px 0 */
  width: 90%;
  padding: 0.625em 0; /* 10px 0 */
}

.content {
  width: 80%;
  justify-self: center;
  transition: 0.5s;
}

.colorbox {
  width: 2.5em; /* 40px */
  height: 1.25em; /* 20px */
  margin-left: 0.3125em; /* 5px */
}

.deleteBtn::after {
  content: "\00d7"; /* '×' 기호 */
}
