.scheduleList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

.scheduleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dee2e6;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 10px;
  margin: 10px 0;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.content {
  width: 80%;
  justify-self: center;
  transition: 0.5s;
  overflow: hidden;
}

.deleteBtn {
  cursor: pointer;
  width: 10%;
  justify-self: flex-end;
  overflow: hidden;
}

.colorbox {
  width: 40px;
  height: 20px;
  background: #868e96;
  margin-left: 5px;
  overflow: hidden;
}

.shimmerWrapper {
  position: relative;
  overflow: hidden;
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
  animation: loading 2.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}
