.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.content {
  width: calc(100% / 7);
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.content:first-child {
  color: red;
}
.content:last-child {
  color: blue;
}

.schedule {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;
  width: 100%;
  font-size: 25px;
}

.scheduleContent {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.colorbox {
  width: 90%;
  height: 10px;
}
