@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Serif+KR:wght@200..900&display=swap");

.main {
  display: flex;
  font-family: "Noto Serif KR", serif;

  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.content {
  width: calc(100% / 7);
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.content:first-child {
  color: red;
}
.content:last-child {
  color: blue;
}

.schedule {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;
  width: 100%;
  font-size: 25px;
}

.scheduleContent {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.btn {
}
